<!-- import polymer-element -->
<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">

<!-- custom components -->
<link rel="import" href="semester-table.html">

<dom-module id="coursework-cmu">
  <template>
		<table>
      <tbody style="vertical-align: top">
        <tr>
          <td><semester-table semester={{coursework.fall17}}></semester-table></td>
          <td><semester-table semester={{coursework.spring18}}></semester-table></td>
        </tr>
        <tr>
          <td><semester-table semester={{coursework.fall16}}></semester-table></td>
          <td><semester-table semester={{coursework.spring17}}></semester-table></td>
        </tr>
        <tr>
          <td><semester-table semester={{coursework.fall15}}></semester-table></td>
          <td><semester-table semester={{coursework.spring16}}></semester-table></td>
        </tr>
      </tbody>
    </table>
  </template>
  <script>
    class CourseworkCMU extends Polymer.Element {
      static get is() { return "coursework-cmu"; }
      
      // set this element's employees property
      constructor() {
        super();
        // get coursework from json file
				fetch('../assets/json/coursework.json', {
          method: 'GET'
        }).then(res => {
          return res.json()
        }).then(res => {
          this.coursework = res;
        }).catch(error => {
          console.error(error)
        })
      }
    }
  customElements.define(CourseworkCMU.is, CourseworkCMU);
  </script>

</dom-module>
