<!-- import polymer-element -->
<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">

<!-- import template repeater -->
<link rel="import"  href="https://polygit.org/components/polymer/lib/elements/dom-repeat.html">

<dom-module id="semester-table">
  <template>
    <h3>{{semester.sem}} {{semester.year}}</h3>
    <table>
      <tbody>
        <template is="dom-repeat" items="{{semester.courses}}">
          <tr>
            <td>{{item.number}}</td>
            <td>{{item.name}}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>
  <script>
    class SemesterTable extends Polymer.Element {
      static get is() { return "semester-table"; }

      constructor() {
        super();
      }
    }
  customElements.define(SemesterTable.is, SemesterTable);
  </script>

</dom-module>
