@font-face {
  font-family: "Droid Sans";
  src: url("../fonts/droid-sans/DroidSans.ttf");
}

body {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  overflow: hidden; }

.container {
  max-width: 800px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.title {
  text-align: center; }
.contact {
  text-align: center;
  margin-bottom: 10px; }
.navbar {
  display: none; }
.school {
  text-align: center; }
.edu-img {
  display: block;
  margin: 0 auto;
  height: 100px; }

footer {
  width: 100%;
  /* border-top: 1px solid #9F3ED5; */
  border-top: 1px solid #eee;
  font-size: 12px;
  padding: 20px;
  text-align: center; }

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../img/status.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}
