/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.6s ease;
  z-index: 99;
}

#preloader.preloader-hidden {
  opacity: 0;
  pointer-events: none;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

#status.status-hidden {
  opacity: 0;
}
