body {
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden; }

.container {
  max-width: 900px; }
.header {
  width: 100%;
  margin-top: 2rem;
  border-bottom: 1px solid #ddd; }

.navbar-link:hover {
  text-decoration: none; }

section {
  padding: 1em; }


footer {
  width: 100%;
  /* border-top: 1px solid #9F3ED5; */
  border-top: 1px solid #ddd;
  font-size: 12px;
  padding: 20px;
  text-align: center; }

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  /*background-image:url(../img/status.gif);*/ /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.hidden { display: none; }