body {
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden; }

/* Shared layout */
.container {
  max-width: 900px; }
.header {
  width: 100%;
  margin-top: 2rem;
  border-bottom: 1px solid #ddd; }

section {
  padding: 1em; }


footer {
  width: 100%;
  /* border-top: 1px solid #9F3ED5; */
  border-top: 1px solid #ddd;
  font-size: 12px;
  padding: 20px;
  text-align: center; }

.hidden { display: none; }
