.center {
  text-align: center;
}

.center-div {
  margin: auto;
}

#name {
  font-size: 5em;
}

.contact-container {
  margin-top: 50px;
}

p {
  font-size: 1.2em;
}

.school {
  padding: 50px;
}

.courses {
  width: 80%;
  text-align: left;
}

.courses p {
  font-size: 1em;
}

.exp {
  padding: 50px;
}

.exp-description {
  width: 80%;
  text-align: left;
}

footer {
  height: 4em;
}

.bold {
  font-weight: bold;
}
