<h2>Hobbies</h2>
<p>Here is a peek into what I do in my spare time!</p>

<h3>Go</h3>
<p>This is a hobby that I picked up quite recently (around March 2016). I play
on <a href="https://online-go.com" target="_blank">OGS</a> (here is my
<a href=https://online-go.com/user/view/317822 target="_blank">profile</a>). According to
OGS, I am a 16 kyu player now. Feel free to challenge me to a game!
</p>

<h3>Violin</h3>
<p>
I played violin quite seriously until sophomore year in high school, but
it became more like a hobby after I decided I didn't want to make music
my profession. However, I still do play a fair amount, both in the
<a href="http://alluniversityorchestra.org/">Carnegie Mellon All
University Orchestra</a> and personally practicing pieces that I like.
I'll actually be playing the <strong>Paganini Violin Concerto No. 1</strong>
next spring with the All University Orchestra, so hopefully I will have
a video for that then!
</p>

<p>
In the meantime, here's a video of me playing the <strong>Tchaikovsky
Violin Concerto</strong> with the Dreyfoos Philharmonic Orchestra after
winning the school concerto competition in 2014 (iPhone camera video):
</p>
<br><br>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/YqUru54adfs" frameborder="0" allowfullscreen></iframe></center>
<br><br>

<p>
Here are some honors I've received:
</p>
<ul class="list-group">
  <li class="list-group-item">2016 Carnegie Mellon All University Orchestra Concerto Competition
    <span class="badge">1st Place</span>
  </li>
  <li class="list-group-item">2015 Allegro Society Music Scholarship
    <span class="badge">1st Place</span>
  </li>
  <li class="list-group-item">2014 Dreyfoos Concerto Competition
    <span class="badge">1st Place</span>
  </li>
  <li class="list-group-item">2014 Alhambra Concerto Competition
    <span class="badge">2nd Place</span>
  </li>
  <li class="list-group-item">2014 Florida All State Orchestra
    <span class="badge">Concertmaster</span>
  </li>
  <li class="list-group-item">2013 Florida All State Orchestra
    <span class="badge">Concertmaster</span>
  </li>
  <li class="list-group-item">2013 Florida Atlantic University Honors Orchestra
    <span class="badge">Concertmaster</span>
  </li>
  <li class="list-group-item">2012 North Carolina Symphony Concerto Competition
    <span class="badge">2nd Place</span>
  </li>
</ul>
