<h2>Welcome to my site!</h2>

<p>It's a pleasure to have you here. I'm <strong>Tai</strong>, currently
  an undergrad at <strong>Carnegie Mellon University</strong>
  training in <strong>mathematics</strong> and <strong>computer
  science</strong>. If all goes well, I'll leave Carnegie Mellon in 2019
  with a MS in mathematics and a BS in computer science. For more, check out
  my site!
</p>

<div class="center">
  <a href="mailto:taisukey@andrew.cmu.edu" target="_blank" data-toggle="tooltip" title="Email: taisukey@andrew.cmu.edu"><i class="fa fa-envelope icon" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/taisuke-yasuda-9497916b" target="_blank" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin icon" aria-hidden="true"></i></a>
  <a href="https://www.github.com/TaisukeYasuda" target="_blank" data-toggle="tooltip" title="GitHub"><i class="fa fa-github icon" area-hidden="true"></i></a>
  <a href="static/files/resume.pdf" target="_blank" data-toggle="tooltip" title="Resume"><i class="fa fa-file-pdf-o icon" area-hidden="true"></i></a>
</div>
